<included>
    <property resource="logback-variables.properties"/>
    <appender name="MDC_REQUEST" class="ch.qos.logback.core.ConsoleAppender">

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %replace([REQUEST-ID %X{REQUEST_TRACE_ID}]){'\[REQUEST-ID \]', '[SYSTEM]'} %X{PROCESSING_DOMAIN}-SERVICE ${LOG_PATTERN_PROD}
            </pattern>
            <outputPatternAsHeader>true</outputPatternAsHeader>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="MDC_REQUEST"/>
    </root>
</included>
